<div id="confirm_delete_modal" class="modal" data-controller="modal">
  <div class="modal-content">
    <h2>Are you sure?</h2>
    <h3>you want to delete this member?</h3>
    <div class="button-group">
      <%= button_to 'Confirm', registration_path(registration), method: :delete, data: {action: 'modal#close'}, class: 'confirm-button' %>
      <%= button_to 'Cancel', '#', data: {action: 'modal#close'}, class: 'cancel-button' %>
    </div>
  </div>
</div>