<div id="register_modal" class="modal" data-controller="modal">
  <div class="modal-content">
  <h1>Register Form</h1>
    <%= render partial:  "form", locals: {registration: @registration} %>
    <%= link_to 'Cancel', registrations_path, class: 'cancel-btn-regis-modal', data_action: 'modal#close' %>
  </div>
</div>