body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.members-container {
  background-color: #fff;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  width: 1200px;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

table {
  border: 1px solid black;
  border-collapse: collapse;
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  font-family: Arial, sans-serif;
  table-layout: fixed;
}

thead {
  border-bottom: 1px solid black;
  width:fit-content;
  background-color: #f2f2f2;
}

th {
  padding: 20px;
  text-align: center;
  border-bottom: 1px solid black;
  color: white;
  font-weight: bold;
  background-color: #3C3D37;
  justify-content: center;
  text-wrap: nowrap;
  
  a {
    color:white;
    cursor: pointer;
    text-decoration: none;
  }
}

td {
  padding: 8px;
  text-align: center;
}

tr{
  background-color: white;
}
.action-buttons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

/* สไตล์สำหรับปุ่ม Edit และ Delete */
.action-btn {
  padding: 6px 12px;
  text-decoration: none;
  display: inline-block;
  margin-right: 5px;
  border-radius: 4px;
  font-size: 14px;
  border: none;
  cursor: pointer;
}

.edit-btn {
  background-color: #399918;
  color: white;
}

.edit-btn:hover {
  background-color: #387F39;
}

.delete-btn {
  background-color: #FF0000;
  color: white;
}

.delete-btn:hover {
  background-color: #E72929;
}


.new-registration-btn {
  display: inline-block;
  padding: 10px;
  background-color: #399918;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  font-size: 16px;
  margin:0px 0px 0px 20px;
  width: fit-content;
  border: none;
}

.new-registration-btn:hover {
  background-color: #387F39;
  color: white;
}
.pagination {
  display: flex;
  justify-content: center;
  align-content: flex-end;
  margin-top: 20px;
}

.pagination a,
.pagination span {
  margin: 0 5px;
  padding: 8px 12px;
  text-decoration: none;
  color: #333;
  background-color: #f1f1f1;
  border-radius: 4px;
}

.pagination a:hover {
  background-color: #ddd;
}

.pagination .current {
  margin: 0 5px;
  padding: 8px 12px;
  text-decoration: none;
  color: white;
  background-color: #3C3D37;
  border-radius: 4px;
}


